
@{
    ViewBag.Title = "Login";
    Layout = null;
}

<!DOCTYPE html>
<!--[if lt IE 7 ]>
<html lang="en" class="no-js ie6 lt8"> <![endif]-->
<!--[if IE 7 ]>
<html lang="en" class="no-js ie7 lt8"> <![endif]-->
<!--[if IE 8 ]>
<html lang="en" class="no-js ie8 lt8"> <![endif]-->
<!--[if IE 9 ]>
<html lang="en" class="no-js ie9"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!-->
<html lang="en" class="no-js">
 <!--<![endif]-->
<head>
    <meta charset="UTF-8" />
    <!-- <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">  -->
    <title>Login and Registration Form with HTML5 and CSS3</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Login and Registration Form with HTML5 and CSS3" />
    <meta name="keywords" content="html5, css3, form, switch, animation, :target, pseudo-class" />
    <meta name="author" content="Codrops" />
    <link rel="shortcut icon" href="/favicon.ico">
    <link rel="stylesheet" type="text/css" href="/content/css/demo.css" />
    <link rel="stylesheet" type="text/css" href="/content/css/login.css" />
    <link rel="stylesheet" type="text/css" href="/content/css/animate-custom.css" />
</head>
<body>
    <div class="container">
        <section>
            <div id="container_demo">
                <!-- hidden anchor to stop jump http://www.css3create.com/Astuce-Empecher-le-scroll-avec-l-utilisation-de-target#wrap4  -->
                <a class="hiddenanchor" id="toregister"></a>
                <a class="hiddenanchor" id="tologin"></a>
                <div id="wrapper">
                    <div id="login" class="animate form">
                        <h1>登录</h1>
                        <p>
                            <label for="username" class="uname" data-icon="u">用户名 </label>
                            <input id="username" name="username" type="text" placeholder="请输入用户名" />
                        </p>
                        <p>
                            <label for="password" class="youpasswd" data-icon="p">登录密码 </label>
                            <input id="password" name="password" type="password" placeholder="请输入密码" />
                        </p>
                        <p class="login button">
                            <input type="submit" id="loginBtn" value="确认" />
                        </p>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <script src="/content/js/jquery.min.js?v=2.1.4"></script>
    <script src="/content/js/plugins/layer/layer.js"></script>
    <script src="/content/js/qingfeng.core.js"></script>
    <script>
    $("#loginBtn").click(function () {
        var username = $("#username")
        var password = $("#password")
        if (username.val().trim().length < 1) {
            username.focus()
            return layer.tips("请输入用户名", username, {tips: [3, '#0FA6D8']})
        }
        if (password.val().trim().length < 1) {
            password.focus()
            return layer.tips("请输入密码", password, {tips: [3, '#0FA6D8']})
        }
        $core.ajax.postJSON("/home/login", {userName: username.val(), passWord: password.val()}, function (data) {
            if (data === 1) {
                location.href = "/"
            } else {
                layer.msg(this.msg)
            }
        })
    })
    $('#password,#username').bind('keypress', function (event) {
        if(event.keyCode === 13) {
            $("#loginBtn").click()
        }
    });
    </script>
</body>
</html>

