
@{
    ViewBag.Title = "Add";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style type="text/css">
    .panel {
        width: 99%;
        margin: 10px auto;
    }

    td {
        vertical-align: middle !important;
    }

    th {
        text-align: center !important;
    }

    .td_title {
        width: 100px;
        text-align: center;
    }

    .td_input {
        width: 200px;
    }

    .td-left {
        width: 350px;
    }
</style>
<div class="page-header">
    <h1 class="form-inline">
        添加商户
        <a href="/customer/index" class="btn btn-info btn-sm pull-right back-to-list pageCount"> <i class="icon-circle-arrow-left"></i> 返回列表</a>
    </h1>

</div>
<form class="form-inline" role="form" id="order-form" method="post" enctype="multipart/form-data" action="/customer/addCustomer">
    <div class="panel panel-info">
        <!-- Default panel contents -->
        <div class="panel-heading">基本信息</div>
        <table class="table">
            <tr>
                <td class="td_title">商户名称：</td>
                <td width="300"><input type="text" name="name" id="name" maxlength="40" class="td_input" /></td>
                <td class="td_title">简称：</td>
                <td><input type="text" name="abbreviation" id="abbreviation" maxlength="40" class="td_input" /></td>
            </tr>
            <tr>
                <td class="td_title">联系人：</td>
                <td colspan="3"><input type="text" name="contactName" maxlength="40" id="contactName" class="td_input" /></td>
            </tr>
            <tr>
                <td class="td_title">固定电话：</td>
                <td width="300"><input type="text" name="phone" id="phone" maxlength="24" class="td_input" /></td>
                <td class="td_title">手机：</td>
                <td><input type="text" name="mobile" id="mobile" maxlength="24" class="td_input" /></td>
            </tr>
            <tr>
                <td class="td_title">地址：</td>
                <td width="300"><input type="text" name="address" id="address" maxlength="200" class="td_input"/></td>
                <td class="td_title">业务员：</td>
                <td><input type="text" name="salesman" id="salesman" maxlength="200" class="td_input"/></td>
            </tr>
            <tr>
                <td class="td_title">商户LOGO：</td>
                <td colspan="3"><input type="file" name="file" value="请选择logo"/></td>
            </tr>
        </table>
    </div>
    <div class="panel panel-success">
        <!-- Default panel contents -->
        <div class="panel-heading" style="padding:7px 15px;">
            商户备注
        </div>
        <div class="panel-body">
            <div class="col-lg-10">
                <div class="form-group">
                    <label for="exampleInputEmail2">备注：</label>
                    <textarea rows="7" cols="120" maxlength="500" name="remark" id="remark" class="form-control"></textarea>
                </div>
            </div>
        </div>

        <!-- /.row -->
    </div>

    <div style="width:300px; margin:5px auto;">
        <input type="hidden" name="action" value="dosubmit">
        <button type="button" class="btn btn-default" id="cancel" data-dismiss="modal">取消</button>
        <button type="button" class="btn btn-primary" id="order-save">保存</button>
    </div>
</form>
<script type="text/javascript">
    $('.back-to-list').off('click').on('click', function () {
        var url = $('#page-content').attr('data-back-url');
        if (!url) {
            url = $(this).attr('href');
        }

        $.getPageContent({ url: url });
        return false;
    });

    $("#order-save").click(function() {
        if ($("#name").val().length < 1) {
            return layer.tips("请输入商户名", $("#name"), { tips: [2, '#438eb9'] });
        }
        if ($("#abbreviation").val().length < 1) {
            return layer.tips("请输入商户简称", $("#abbreviation"), { tips: [2, '#438eb9'] });
        }
        if ($("#contactName").val().length < 1) {
            return layer.tips("请输入联系人", $("#contactName"), { tips: [2, '#438eb9'] });
        }
        if ($("#address").val().length < 1) {
            return layer.tips("请输入商户地址", $("#address"), { tips: [2, '#438eb9'] });
        }
        if ($("#salesman").val().length < 1) {
            return layer.tips("请输入业务员", $("#salesman"), { tips: [2, '#438eb9'] });
        }
        $.ajax({
            cache: true,
            type: "POST",
            url: "/customer/addCustomer",
            data: new FormData($('#order-form')[0]), // 你的formid
            async: false,
            processData: false,
            contentType: false
        }).done(function(res) {
            if (res.data === 1) {
                layer.confirm("添加成功", function() {
                    $.getPageContent({ url: "/customer/index" });
                    layer.closeAll();
                });
            } else if (res.data === 2) {
                layer.msg(res.message);
            } else {
                layer.msg("添加失败");
            }
        }).fail(function(res) {
            layer.alert("添加失败");
        });
        return true;
    });
   
    $("#cancel").click(function () {
        $.getPageContent({ url: "/customer/index" });
    });
</script>
