<appSettings>
  <add key="webpages:Version" value="3.0.0.0" />
  <add key="webpages:Enabled" value="false" />
  <add key="ClientValidationEnabled" value="true" />
  <add key="UnobtrusiveJavaScriptEnabled" value="false" />
  <add key="vs:EnableBrowserLink" value="false"/>

  <add key="authKey" value="E2s+dgPIXJRTk2q5nuj27NHhDes6iSCEwIFs3nFWHv41="/>
</appSettings>