<?xml version="1.0" encoding="utf-8"?>
<connectionStrings>
  <!--<add name="qingfeng_read" providerName="MySql.Data.MySqlClient" connectionString="Data Source=127.0.0.1;Initial Catalog=agent;Persist Security Info=True;User ID=root;Password=123456;MAX Pool Size=2000;Min Pool Size=3;Connection Lifetime=30;Pooling=true;charset=utf8;" />
  <add name="qingfeng_write" providerName="MySql.Data.MySqlClient" connectionString="Data Source=127.0.0.1;Initial Catalog=agent;Persist Security Info=True;User ID=root;Password=123456;MAX Pool Size=2000;Min Pool Size=3;Connection Lifetime=30;Pooling=true;charset=utf8;" />-->

  <add name="true_ways_read" providerName="MySql.Data.MySqlClient" connectionString="Data Source=192.168.1.64;Initial Catalog=test;Persist Security Info=True;User ID=root;Password=root;MAX Pool Size=2000;Min Pool Size=3;Connection Lifetime=30;Pooling=true;charset=utf8;" />
  <add name="true_ways_write" providerName="MySql.Data.MySqlClient" connectionString="Data Source=192.168.1.64;Initial Catalog=test;Persist Security Info=True;User ID=root;Password=root;MAX Pool Size=2000;Min Pool Size=3;Connection Lifetime=30;Pooling=true;charset=utf8;" />
</connectionStrings>