<?xml version="1.0" encoding="utf-8"?>
<connectionStrings>
  <add name="true_ways_read" providerName="MySql.Data.MySqlClient" connectionString="Data Source=127.0.0.1;Initial Catalog=trueways;Persist Security Info=True;User ID=root;Password=true@ways;MAX Pool Size=2000;Min Pool Size=3;Connection Lifetime=30;Pooling=true;charset=utf8;" />
  <add name="true_ways_write" providerName="MySql.Data.MySqlClient" connectionString="Data Source=127.0.0.1;Initial Catalog=trueways;Persist Security Info=True;User ID=root;Password=true@ways;MAX Pool Size=2000;Min Pool Size=3;Connection Lifetime=30;Pooling=true;charset=utf8;" />
</connectionStrings>